/* background */
body {
	background: #228;
	font: inherit;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.header, .wrapper {
	background-color: rgba(255,255,255,0.9);
}

/* text transform */
.logo__link,
.tags__item,
.toc_title,
.widget__title,
.menu__btn-title,
.menu__link,
.post-nav__caption
{
	text-transform: none;
}

/* logo */
.logo {
	padding: 15px 25px;
}
.logo__title {
	text-shadow: 2px 2px 5px #888;
}

/* shadow */
.main__title,
.list__title,
.post__title
{
	text-shadow: 2px 2px 4px #888;
}
.post__thumbnail,
.post__content img,
.list__thumbnail img
{
	box-shadow: 2px 2px 4px #888;
}

/* h2, h3 */
.post:not(.list__item) 
.post__content h2 {
	border-left: 10px solid #46A;
	border-bottom: 2px solid #46A;
	padding: 2px 10px;
	background: rgba(200,200,200,0.5);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}
.post:not(.list__item) 
.post__content h3 {
	padding-top: 2px;
	padding-left: 10px;
	border-left: 6px solid rgb(45, 156, 45);
	border-bottom: 2px solid rgb(45, 156, 45);
	background: rgba(200,200,200,0.5);
}

/* layout */
.post:not(.list__item) 
.post__content {
	clear: both;
}

/* widget */
.widget__title {
	margin-bottom: 15px;
	text-shadow: 1px 1px 2px #888;
}
.widget-toc li>ul{
	padding-left: 5px;
	margin-left: 15px;
	list-style-type: square;
}
.widget-toc li{
	margin-top: 0.5em;
}

/* toc */
.toc__menu a {
	color: #333;
	font-size: 0.8em;
}

.post__title {
	margin-top: 10px;
}
.post__thumbnail {
	float: left;
	max-width: 120px;
	margin-right: 15px;
}

/* meta */
.meta, .meta a {
	color: #333;
}
.meta__icon {
	fill: #787878;
}

/* list */
.list__item {
	border-bottom: 2px dotted #AAA;
	clear: both;
	min-height: 145px;
}
.list__item .post__content figure {
	display: none;
}
.list__title {
	font-size: 28px;
}
.list__thumbnail img {
	float: left;
	max-width: 120px;
}
.list__excerpt h2{
	font-size: 20px;
	font-size: 1.25rem;
	margin: 0;
}
.list__excerpt h3,h4{
	font-size: 18px;
	font-size: 1.1rem;
	margin: 0;
}
.list__excerpt p{
	margin: 0;
}
.list__excerpt{
	overflow: hidden;
}

/*** Tables ***/
table {
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
}
td, th {
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	min-width: 4em;
}
th {
	font-weight: 700;
	background: rgba(180, 180, 180, 0.7);
}
tr:nth-child(even) {
	background: rgba(220, 220, 220, 0.7);
}
tr:nth-child(odd) {
	background: rgba(230, 230, 230, 0.7);
}

/* figure */
figcaption {
	color: black;
}
